@import "reset";

$bg-dark: #030303;
$dark-red: #710707;
$font-gold: #9d8665;
$dots-color: #D2B183;
$form-border: 1px solid #030303;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1480px;
}

// Header

.header {
  padding: 75px 0 50px;
  color: #ffffff;
  background-color: $bg-dark;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo:hover .logo__text {
  color: $font-gold;
}

.logo__icon-img {
  transition: filter .5s ease;
}

.logo:hover .logo__icon-img {
  filter: invert(55%) sepia(47%) saturate(270%) hue-rotate(356deg) brightness(100%) contrast(82%);
}

.logo__icon {
  margin: 0 25px 0 0;
}

.logo__text {
  font-family: "Forum", cursive;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 5px;
  transition: color .5s ease;
}

.header__nav {
  width: 100%;
  max-width: 775px;
}

.header__nav .nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  display: inline-block;
  padding: 10px 0 10px 0;

  font-weight: 200;
  font-size: 22px;
  letter-spacing: 2px;

  transition: color .5s ease;
}

.nav__link:hover,
.nav__link:active {
  color: $font-gold;
}

// Welcome section

.section {
  padding: 75px 0;
  background-color: #ffffff;
}

.dark-section {
  color: #ffffff;
  background-color: $bg-dark;
}

.welcome-section {
  padding: 0 0 60px;
  min-height: 750px;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.welcome__content {
  margin: 0 0 0 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: absolute;
  top: 150px;
  left: 0;
}

.section__title {
  font-family: 'Forum', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: $font-gold;
}

.dark-title {
  color: #FFFFFF;
}

.welcome__title {
  max-width: 600px;
  text-align: left;
}

.welcome__title span {
  display: block;
}

.welcome__text {
  margin: 25px 0 75px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
}

.welcome__btn {
  max-width: 365px;
  padding: 25px 70px;

  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;

  border-radius: 10px;
  background-color: $dark-red;
  color: #ffffff;

  transition: background-color .5s ease;
}

.welcome__btn:hover {
  background-color: $font-gold;
}

.welcome__slider {
  max-width: 1000px;
}

.welcome__slider-pagination {
  padding: 40px 90px 40px 75px;
  width: 620px;
  max-width: 620px;
  z-index: 2;
  display: flex;
  align-items: center;
  background-color: $bg-dark;
  position: absolute;
  right: 0;
  bottom: -60px;
}

.welcome__slider-dots {
  margin: -12px 60px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome__slider-arrows {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome__slider-item {
  cursor: pointer;
  position: relative;
}

.shadow {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.welcome__slider-pagination .slick-arrow {
  width: 30px;
  height: 8px;
  font-size: 0;
  cursor: pointer;
  transition: filter .3s ease;
}

.welcome__slider-pagination .slick-arrow:hover {
  filter: invert(55%) sepia(47%) saturate(270%) hue-rotate(356deg) brightness(100%) contrast(82%);
}

.welcome__slider-pagination .slick-prev {
  background: url("../svg/left-arrow.svg") 0 0 / 100% no-repeat;
  margin: 0 20px 0 0;
}

.welcome__slider-pagination .slick-next {
  background: url("../svg/right-arrow.svg") 0 0 / 100% no-repeat;
}

.welcome__slider-pagination .slick-dots {
  max-width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome__slider-pagination .slick-dots button {
  font-size: 0;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  cursor: pointer;
  margin: 0 12px;
  transition: background-color .3s ease;
}

.welcome__slider-pagination .slick-dots .slick-active button {
  background-color: $dots-color;
}

.welcome__slider-pagination .slick-dots button:hover {
  background-color: $font-gold;
}

.welcome__slider-counter {
  margin: 0 50px 0 0;
  justify-self: flex-start;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

// Visiting section

.visiting__title {
  position: relative;
}

.underline__title::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: $dark-red;
}

.cards {
  margin: 100px 0 0 0;
  max-width: 1440px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 80px 60px;
}

.card {
  display: block;

  transition: color .5s ease;
}

.card__img {
  width: 440px;
  height: 285px;
}

.card__title {
  margin: 25px 0 0 0;
  position: relative;
  font-family: "Forum", cursive;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;

  transition: color .5s ease;
}

.card__title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 68%;
  height: 2px;
  background-color: $dark-red;

  transition: width .7s linear;
}

.card__text {
  margin: 20px 0 0 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;

  transition: color .5s ease;
}

.card__text span {
  margin: 0 0 15px 0;
  display: block;
  font-size: 22px;
}

.card:hover .card__title::after {
  width: 100%;
}

// Explore section

.explore-section {
  padding: 90px 0 75px 0;
}

.explore-container {
  display: flex;
  justify-content: space-between;
}

.explore__content {
  max-width: 660px;
  margin: -15px 60px 0 0;
  display: flex;
  flex-direction: column;
}

.explore__title {
  margin: 0 0 70px 0;
  position: relative;
  color: #ffffff;
}

.explore__text {
  margin: 30px 0 0 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}

.text-gold {
  color: #caaa7d;
}

.explore__slider {
  position: relative;
  overflow: hidden;
  width: 720px;
  height: 700px;
}

.explore__slider-img {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.explore__slider-img.before {
  width: calc(58% + 20px);
  background: url("../img/explore-slider/before.jpg") no-repeat top left;
}

.explore__slider-img.after {
  background: url("../img/explore-slider/after.jpg") no-repeat;
}

.compare {
  margin: 0 20px 0 0;
  width: 40px;
  height: 100%;
  position: absolute;
  left: 58%;
  z-index: 10;
  cursor: grabbing;
}

// Video section

.video-section {
  padding: 75px 0 75px 0;
}

.video__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.player {
  margin: 0 0 40px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 735px;
  overflow-y: hidden;
}

.video {
  width: 100%;
}

.video-btn {
  display: block;
  padding: 0;
  cursor: pointer;
  background: transparent;

  &.video-play {
    position: absolute;
    top: calc((100% - 85px) / 2);
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.player__controls {
  max-height: 85px;
  width: 100%;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-dark;
  position: absolute;
  bottom: 0;
}

.progress-input,
.volume-input {
  -webkit-appearance: none;
  height: 8px;
  outline: none;
}

.progress-input::-webkit-slider-thumb,
.volume-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.progress-input {
  width: 930px;
  background: #ffffff;
}

.volume-input {
  width: 155px;
  background: -webkit-linear-gradient(left, #710707 0%, #710707 50%, #ffffff 50%, #ffffff 100%);
}

.video__content {
  margin: 0 0 75px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video__title {
  display: inline-block;
  margin: 0 115px 0 0;
}

.video__text {
  max-width: 710px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}

.video__slider-wrapper {
  max-width: 100%;
}

.video__slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.video__slider-item {
  margin: 0 41px 0 0;
  display: block;
  width: 452px;
  height: 254px;
  cursor: pointer;
}

.video__slider-item iframe {
  border: 0;
}

.video__slider-pagination {
  margin: 35px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video__slider-arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  max-width: 200px;
}

.video__slider-pagination .slick-arrow {
  width: 10px;
  height: 12px;
  font-size: 0;
  cursor: pointer;
  transition: filter .3s ease;
}

.video__slider-pagination .slick-arrow:hover {
  filter: invert(8%) sepia(49%) saturate(5700%) hue-rotate(353deg) brightness(50%) contrast(100%);
}

.video__slider-pagination .slick-prev {
  background: url("../svg/vs-left.svg") no-repeat;
}

.video__slider-pagination .slick-next {
  background: url("../svg/vs-right.svg") no-repeat;
}

.video__slider-pagination .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__slider-pagination .slick-dots li {
  display: flex;
  align-content: center;
  justify-content: center;
}

.video__slider-pagination .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #999999;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color .3s ease;
}

.video__slider-pagination .slick-dots .slick-active button {
  background-color: $bg-dark;
}

.video__slider-pagination .slick-dots button:hover {
  background-color: $dark-red;
}

.video__slider .slick-active {
  width: 493px !important;
}

// Gallery section

.gallery-section {
  padding-bottom: 0;
}

.gallery__title {
  margin: 0 0 75px;
  color: #ffffff;
}

.picture-container {
  max-height: 1960px;
  overflow-y: hidden;
  position: relative;
}

.gallery__shadow {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

.picture-inner-container {
  max-height: 2950px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 35px;
  column-width: 456px;
  column-count: 3;
}

.gallery__picture {
  width: 456px;
  opacity: 0;
  transform: translate(0%, 50%);
  transition: all 1s ease;
}

.gallery__picture-active {
  opacity: 1;
  transform: translate(0%, 0%);
}

.padd {
  margin: 50px 0 0;
}

// Tickets section

.tickets__title {
  margin: 0 0 100px 0;
  position: relative;
  color: $font-gold;
}

.tickets__inner {
  display: flex;
}

.tickets__content {
  margin: 0 0 0 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tickets__img {
  display: block;
  width: 720px;
  height: 550px;
}

.type {
  display: flex;
  flex-direction: column;
}

.tickets__subtitle {
  margin: 0 0 30px 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}

.type .tickets__subtitle {
  margin: 0 0 55px 0;
}

.label {
  display: block;
  position: relative;
  padding-left: 40px;
  margin: 0 0 25px 0;
  cursor: pointer;
  user-select: none;

  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px
}

.radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 50%;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000000;
}

.radio:checked ~ .checkmark:after {
  display: block;
}

.amount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.amount__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.amount__text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}

.amount__button {
  margin: 10px 0 15px 0;
  padding: 0 9px;
  border: 3px solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .button {
    padding: 5px 0;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    background: transparent;
    color: #000000;
    cursor: pointer;
  }

  .number {
    all: unset;
    padding: 0 5px 0 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }
}

.total {
  margin: 30px 0 0 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  line-height: 33px;
  letter-spacing: 1.65px;
  font-style: normal;
  font-size: 28px;
  color: #000000;
}

.buy {
  margin: 60px 0 0 0;
  padding: 11px 38px;
  border-radius: 2px;
  background-color: #000000;

  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  cursor: pointer;

  transition: background-color .5s ease;
}

.buy:hover {
  background-color: $font-gold;
}

// Parallax

.parallax {
  width: 100%;
  height: 400px;
  background-image: url("../img/parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

// Contacts section

.contacts__title {
  margin: 0 0 100px 0;
  position: relative;
}

.contacts__content {
  margin: 110px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.contacts__subtitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}

.contacts__subtitle span {
  display: block;
}

.contacts__list {
  margin: 50px 0 0 0;
}

.contacts__item {
  margin: 0 0 25px 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}

.map {
  width: 960px;
  height: 620px;
}

// Footer

.footer {
  padding: 75px 0 35px;
  background-color: $bg-dark;
  color: #ffffff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__logo {
  margin: 5px 0 0;
}

.footer__nav {
  margin: 0 235px 0 0;
}

.footer__nav .nav__list {
  column-count: 2;
  column-gap: 153px;
}

.footer__nav .nav__item {
  margin: 0 0 5px;
}

.social {
  margin: 0 0 20px;
  align-self: flex-end;
  display: flex;
}

.social__item {
  margin: 0 0 0 25px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid #666666;
  border-radius: 50%;

  transition: border-color .5s ease;
}

.social__icon {
  transition: filter .2s linear;
}

.social__item:hover .social__link {
  border-color: $font-gold;
}

.social__item:hover .social__icon {
  filter: invert(55%) sepia(47%) saturate(270%) hue-rotate(356deg) brightness(100%) contrast(82%);
}

// Address footer

.address {
  border-top: 3px solid #666666;

  a {
    cursor: pointer;
    transition: color .5s ease;
    &:hover {
      color: $font-gold;
    }
  }
}

.address-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;

  color: #FFFFFF;
}

.address.footer {
  padding: 50px 0;
}

// Booking tickets form

.booking-tickets {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  left: -100%;
  background-color: rgba(0, 0, 0, .8);

  transition: left .8s linear;
}

.booking-tickets__form {
  width: 1440px;
  max-width: 1440px;
  padding: 90px 235px;
  background-color: #ffffff;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.booking-tickets__choose {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.choose__group {
  display: flex;
  flex-direction: column;
}

.choose__content {
  margin: 0 0 60px;
  padding: 0 0 10px;
  border-bottom: 3px solid #740C11;

  span {
    display: inline-block;
    margin: 15px 0 0;
    color: $dark-red;
    font-size: 18px;
  }
}

.choose__title {
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 55px;
  text-transform: uppercase;

  color: $font-gold;
}

.choose__logo {
  width: 85px;
  height: 40px;

  img {
    width: 100%;
    filter: invert(55%) sepia(47%) saturate(270%) hue-rotate(356deg) brightness(100%) contrast(82%);
  }
}

.input {
  width: 100%;
  padding: 11px 15px 11px 15px;
  background-color: #ffffff;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #030303;
}

input::placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #030303;
}

.choose__date {
  margin: 0 0 20px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.input-box {
  border: $form-border;
  background-color: #ffffff;
  display: flex;
  align-items: center;

  .icon {
    height: 100%;
    min-width: 30px;
    padding: 0 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 15px;
    }
  }
}

.date-input {
  margin: 0 20px 0 0;
  max-width: 190px;
}

.time-input {
  max-width: 190px;
}

.name-input {
  margin: 0 0 20px;
  width: 100%;
  position: relative;

  .message {
    display: none;
    color: red;
    font-size: 10px;
    position: absolute;
    bottom: -15px;
  }
}

.email-input {
  margin: 0 0 20px;
  position: relative;

  .message {
    display: none;
    color: red;
    font-size: 10px;
    position: absolute;
    bottom: -15px;
  }
}

.phone-input {
  margin: 0 0 20px;
  position: relative;

  .message {
    display: none;
    color: red;
    font-size: 10px;
    position: absolute;
    bottom: -15px;
  }
}

.choose__type {
  margin: 20px 0 0;
  padding: 10px 15px 15px;
  border: $form-border;
  display: flex;
  flex-direction: column;

  .text {
    padding: 0 0 5px;
    margin: 0 0 15px;
    font-family: "Forum", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;

    color: $font-gold;
    border-bottom: 2px solid #740C11;
  }

  span {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #030303;
  }
}

.choose__type-basic,
.choose__type-senior {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.choose__type-basic {

}

.choose__type-senior {
  margin: 20px 0 0;
}

.form-amount__button {
  border: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .button {
    padding: 0 11px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    background: #000000;
    color: #ffffff;
    cursor: pointer;
  }

  .number {
    margin: 0;
    all: unset;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }

  .number::-webkit-outer-spin-button,
  .number::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.booking-tickets__payment {
  width: 530px;
  max-width: 530px;
  padding: 25px 30px;
  border: $form-border;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overview {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .img {
    width: 150px;
  }
}

.overview__content {
  display: flex;
  flex-direction: column;

  h3 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #272727;
  }

  span {
    margin: 2px 0 10px;
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #740C11;
    opacity: 0.9;
  }

  ul {

    li {
      display: flex;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      color: #030303;
      margin: 0 0 5px;
    }

    img {
      display: block;
      margin: 0 15px 0 0;
    }
  }
}

.price {

}

.each-price {
  padding: 0 0 10px;
  border-bottom: 2px solid #740C11;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #030303;


  .basic {
    margin: 0 0 5px;
    display: flex;
    justify-content: space-between;
  }

  .senior {
    display: flex;
    justify-content: space-between;
  }
}

.count {
  margin: 0 10px 0 0;
  padding: 0 11px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #a4a4a3;
  background-color: $bg-dark;
  border-radius: 5px;
  display: inline-block;
}

.card-total {
  margin: 10px 0 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  justify-content: space-between;

  color: #030303;

  .sum {
    font-weight: 500;
  }
}

.credit-card {
  height: 241px;
  max-height: 241px;
  position: relative;
}

.credit-card-side {
  position: absolute;
  width: 360px;
  height: 211px;
  border-radius: 5px;
}

.card__front {
  padding: 15px 20px;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #a4a4a3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  input {
    padding: 5px;
  }
}

.field-text {
  margin: 0 0 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #161615;
}

.card-number {
  width: 215px;
  max-width: 215px;
  margin: 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  input {
    padding: 8px 0;
    width: 100%;
  }
}

.card-date {
  width: 215px;
  max-width: 215px;
  margin: 0 0 10px;
}

.card-date__group {
  margin: 5px 0 0;
  display: flex;
  justify-content: space-between;

  input {
    width: 100px;
  }
}

.card-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  input {
    padding: 8px 0;
    display: block;
    width: 320px;
  }
}

.card__back {
  padding: 25px 0 15px;
  bottom: 0;
  right: 0;
  z-index: 5;
  background-color: #939393;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .line {
    height: 45px;
    background-color: #161615;
  }
}

.back-content {
  margin: -10px 15px 0 0;
  width: 75px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #161615;
  }

  .cvv {
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 5px;
  }

  input {
    padding: 8px 5px;
    max-width: 75px;
  }

  .text {
    margin: 5px 0 0;
    display: block;
    max-width: 55px;
    font-size: 10px;
    line-height: 12px;
  }
}

.card-brand {
  position: absolute;
  top: 35px;
  right: 20px;
}

.submit {
  padding: 10px 85px;
  background-color: $dark-red;
  color: #ffffff;
  opacity: 0.9;
  align-self: flex-end;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  cursor: pointer;
}

.close {
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 150;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

@media (max-width: 1440px) {}

@media (max-width: 1024px) {
  .container {
    padding: 0;
    max-width: 984px;
    overflow-x: hidden;
  }//+

  // Header

  .header {
    padding: 50px 0;
  }//+

  .header__nav {
    width: 100%;
    max-width: 520px;
  }

  .nav__link {
    padding: 5px 0 5px 0;
    font-weight: 200;
    font-size: 18px;
  }

  // Welcome section

  .section {
    padding: 60px 0;
  }

  .welcome-section {
    min-height: 0;
    padding: 0 0 60px;
  }//+

  .welcome-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }

  .welcome__content {
    margin: 0;
    top: 50px;
  }//+

  .section__title {
    font-size: 50px;
    line-height: 75px;
  }//+

  .welcome__title {
    max-width: 600px;
    text-align: left;
    font-size: 50px;
    line-height: 90px;
  }//+

  .welcome__text {
    margin: 25px 0 50px 0;
    font-size: 24px;
    line-height: 28px;
  }//+

  .welcome__btn {
    max-width: 300px;
    padding: 22px 45px;

    font-size: 20px;
    line-height: 23px;
  } //+

  .welcome__slider {
    max-width: 700px;
    max-height: 525px;
  }//+

  .welcome__slider-pagination {
    padding: 40px 75px 40px 150px;
    width: 700px;
    max-width: 700px;
  }//+

  // Visiting

  .underline__title::after {
    bottom: -25px;
  }

  .cards {
    margin: 85px auto 0 auto;
    max-width: 768px;
  }

  .card {
    max-width: 330px;
  }

  .card__img {
    width: 330px;
    height: 215px;
  }

  .card__title {
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 3px;
  }

  // Explore

  .explore-container {
    display: flex;
    flex-direction: column;
  }

  .explore__content {
    max-width: 100%;
    margin: 0;
  }

  .explore__title {
    margin: 0 0 50px 0;
  }

  .explore__text {
    margin: 30px 0 0 0;
    font-size: 20px;
    line-height: 38px;

    br {
      display: none;
    }
  }

  .explore__text:nth-child(3) {
    margin: 0;
  }

  .explore__text:nth-child(4) {
    display: none;
  }

  .explore__slider {
    margin: 60px auto 0;
  }

  // Video

  .poster {
    height: 444px;
  }//+

  .video-panel {
    padding: 15px 40px;
  }//+

  .video__button.vol {
    margin: 0 30px;
  }//+

  .video__button.fullscreen {
    margin: 0 0 0 30px;
  }//+

  .video__button.pause {
    margin: 0 30px 0 0;
  }//+

  .poster__play {
    width: 152px;
    height: 152px;
  }

  .controls {
    display: block;
  }

  .progress-input,
  .volume-input {
    height: 5px;
  }

  .progress-input::-webkit-slider-thumb,
  .volume-input::-webkit-slider-thumb {
    width: 13px;
    height: 13px;
  }

  .progress-input {
    width: 564px;
  }

  .volume {
    display: flex;
    align-items: center;
  }

  .volume-input {
    width: 143px;
  }

  .video__content {
    margin: 0 0 40px;
    display: block;
    width: 100%;
  }//+

  .video__title {
    display: block;
    width: 100%;
    margin: 0;
  }//+

  .video__text {
    display: none;
  }//+

  .video__slider-item {
    margin: 0 41px 0 0;
    width: 300px;
    height: 170px;

    iframe {
      width: 300px;
      height: 170px;
    }
  }

  .video__slider .slick-active {
    width: 300px !important;
  }

  // Gallery

  .gallery__title {
    margin: 0 0 60px;
  }

  .picture-container {
    max-height: 1262px;
  }

  .picture-inner-container {
    max-height: 1996px;
    row-gap: 24px;
    column-gap: 36px;
    column-width: 304px;
    column-count: 3;
  }

  .gallery__picture {
    width: 304px;
  }

  .padd {
    margin: 47px 0 0;
  }

  // Tickets

  .tickets__title {
    margin: 0 0 80px 0;
  }

  .tickets__content {
    margin: 0 0 0 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .tickets__img {
    min-width: 700px;
    height: 440px;
  }//+

  .type {
    display: none;
  }//+

  .amount {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }//+

  .amount__group {
    align-items: stretch;
  }

  .number {
    padding: 0 5px 0 5px;
  }

  .total {
    span {
      display: inline-block;
      margin: 0 0 0 10px;
    }
  }

  // Contacts section

  .contacts__title {
    margin: 0 0 80px 0;
  }

  .contacts__content {
    margin: 90px 0 0 0;
  }

  .contacts__subtitle {
    font-size: 24px;
    line-height: 28px;
  }

  .contacts__list {
    margin: 35px 0 0 0;
  }

  .contacts__item {
    margin: 0 0 15px 0;
    font-size: 20px;
    line-height: 23px;
  }

  .map {
    width: 694px;
    height: 454px;
  }

  // Footer

  .footer {
    padding: 60px 0 35px;
  }

  .footer__logo {
    margin: 5px 0 0;
  }

  .footer__nav {
    margin: 0 50px 0 0;
  }

  .footer__nav .nav__list {
    column-count: 2;
    column-gap: 100px;
  }

  .footer__nav .nav__item {
    margin: 0 0 5px;
  }

  .social {
    margin: 0 0 20px;
    align-self: flex-end;
    display: flex;
  }

  .social__item {
    margin: 0 0 0 25px;
  }

  .social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 2px solid #666666;
    border-radius: 50%;

    transition: border-color .5s ease;
  }

  // Address footer

  .address-container {
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
  }

  .address.footer {
    padding: 50px 0;
  }

  // Form

  .booking-tickets {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 728px;
  }//+

  // Header

  .header {
    padding: 35px 0;
  }//+

  .header__nav {
    width: 100%;
    max-width: 430px;
  }

  .nav__link {
    padding: 0;
    font-weight: 200;
    font-size: 16px;
  }

  // Welcome section

  .section {
    padding: 40px 0;
  }

  .welcome-section {
    min-height: 0;
    padding: 0;
  }//+

  .welcome-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  .welcome__content {
    position: static;
  }//+

  .section__title {
    font-size: 40px;
    line-height: 60px;
  }//+

  .welcome__title {
    max-width: 600px;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
  }//+

  .welcome__text {
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
  }//+

  .welcome__btn {
    display: none;
  } //+

  .welcome__slider {
    max-width: 728px;
    max-height: 546px;
  }//+

  .welcome__slider-pagination {
    padding: 40px 75px 40px 150px;
    width: 100%;
    max-width: 100%;
    position: static;
  }//+

  .shadow {
    display: none;
  }

  // Visiting

  .underline__title::after {
    bottom: -25px;
  }

  .cards {
    margin: 85px auto 0 auto;
    max-width: 630px;
  }

  .card {
    max-width: 280px;
  }

  .card__img {
    width: 280px;
    height: 180px;
  }

  .card__title {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 3px;
  }

  .card__text {
    font-size: 16px;
    line-height: 19px;

    span {
      font-size: 18px;
      line-height: 21px;
    }
  }

  // Explore

  .explore__content {
    max-width: 100%;
    margin: 0;
  }

  .explore__title {
    margin: 0 0 20px 0;
  }

  .explore__text {
    display: none;
  }

  .explore__slider {
    width: 720px;
    height: 700px;
    margin: 50px auto 0;
  }

  // Video

  .poster {
    height: 329px;
  }//+

  .video-panel {
    padding: 12px 30px;
  }//+

  .video__button.vol {
    margin: 0 30px;
  }//+

  .video__button.fullscreen {
    margin: 0 0 0 30px;
  }//+

  .video__button.pause {
    margin: 0 30px 0 0;
  }//+

  .poster__play {
    width: 80px;
    height: 80px;
  }

  .progress-input {
    width: 486px;
  }

  .volume-input {
    display: none;
  }

  .video__content {
    margin: 0 0 30px;
  }//+

  .video__title {
    display: block;
    width: 100%;
    margin: 0;
  }//+

  .video__text {
    display: none;
  }//+

  .video__slider-item {
    margin: 0 41px 0 0;
    width: 354px;
    height: 199px;

    iframe {
      width: 354px;
      height: 199px;
    }
  }

  .video__slider .slick-active {
    width: 354px !important;
  }

  // Gallery

  .gallery__title {
    margin: 0 0 40px;
  }

  .picture-container {
    max-height: 1080px;
  }

  .picture-inner-container {
    max-height: 3520px;
    row-gap: 24px;
    column-gap: 24px;
    column-width: 352px;
    column-count: 2;
  }

  .gallery__picture {
    width: 352px;
  }

  .padd {
    margin: 50px 0 0;
  }

  .padd.sev {
    padding: 0;
  }

  // Tickets

  .tickets__title {
    margin: 0 0 70px 0;
  }

  .tickets__content {
    margin: 0 0 0 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .tickets__img {
    min-width: 444px;
    height: 440px;
  }//+

  .type {
    display: none;
  }//+

  .amount {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }//+

  .amount__group {
    align-items: stretch;
  }

  .number {
    padding: 0 5px 0 5px;
  }

  .total {
    span {
      display: inline-block;
      margin: 0 0 0 10px;
    }
  }

  // Contacts section

  .contacts__title {
    margin: 0 0 70px 0;
  }

  .contacts__content {
    margin: 70px 0 0 0;
    flex-direction: column;
  }

  .contacts__subtitle {
    font-size: 20px;
    line-height: 23px;
  }

  .contacts__list {
    margin: 35px 0 40px 0;
  }

  .contacts__item {
    margin: 0 0 15px 0;
    font-size: 18px;
    line-height: 21px;
  }

  .map {
    width: 728px;
    height: 476px;
    margin: 0 0 27px;
  }

  // Footer

  .footer {
    padding: 40px 0;
  }

  .footer__container {
    flex-wrap: wrap;
  }

  .footer__nav {
    margin: 20px 76px 0 0;

    .nav__link {
      font-size: 18px;
      line-height: 21px;
    }
  }

  .footer__nav .nav__list {
    column-count: 2;
    column-gap: 180px;
  }

  .footer__nav .nav__item {
    margin: 0 0 25px;
  }

  .social {
    margin: 20px 0 0 280px;
    align-self: flex-end;
    justify-self: flex-end;
    display: flex;
  }

  .social__item {
    margin: 0 0 0 25px;
  }

  .social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 2px solid #666666;
    border-radius: 50%;

    transition: border-color .5s ease;
  }

  // Address footer

  .address-container {
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
  }

  .address.footer {
    padding: 50px 0;
  }
}

@media (max-width: 420px) {}