@import "reset";

$bg-dark: #030303;
$dark-red: #710707;
$font-gold: #9d8665;
$dots-color: #D2B183;
$form-border: 1px solid #030303;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1480px;
}

// Header

.header {
  padding: 75px 0 50px;
  color: #ffffff;
  background-color: $bg-dark;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo:hover .logo__text {
  color: $font-gold;
}

.logo__icon-img {
  transition: filter .5s ease;
}

.logo:hover .logo__icon-img {
  filter: invert(55%) sepia(47%) saturate(270%) hue-rotate(356deg) brightness(100%) contrast(82%);
}

.logo__icon {
  margin: 0 25px 0 0;
}

.logo__text {
  font-family: "Forum", cursive;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 5px;
  transition: color .5s ease;
}

.header__nav {
  width: 100%;
  max-width: 775px;
}

.header__nav .nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  display: inline-block;
  padding: 10px 0 10px 0;

  font-weight: 200;
  font-size: 22px;
  letter-spacing: 2px;

  transition: color .5s ease;
}

.nav__link:hover,
.nav__link:active {
  color: $font-gold;
}

// Welcome section

.section {
  padding: 75px 0;
  background-color: #ffffff;
}

.dark-section {
  color: #ffffff;
  background-color: $bg-dark;
}

.welcome-section {
  padding: 0 0 60px;
  min-height: 750px;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.welcome__content {
  margin: 0 0 0 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: absolute;
  top: 150px;
  left: 0;
}

.section__title {
  font-family: 'Forum', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: $font-gold;
}

.dark-title {
  color: #FFFFFF;
}

.welcome__title {
  max-width: 600px;
  text-align: left;
}

.welcome__title span {
  display: block;
}

.welcome__text {
  margin: 25px 0 75px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
}

.welcome__btn {
  max-width: 365px;
  padding: 25px 70px;

  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;

  border-radius: 10px;
  background-color: $dark-red;
  color: #ffffff;

  transition: background-color .5s ease;
}

.welcome__btn:hover {
  background-color: $font-gold;
}

.welcome__slider {
  max-width: 1000px;
}

.welcome__slider-wrapper {
}

.welcome__slider-pagination {
  padding: 40px 90px 40px 75px;
  width: 620px;
  max-width: 620px;
  z-index: 2;
  display: flex;
  align-items: center;
  background-color: $bg-dark;
  position: absolute;
  right: 0;
  bottom: -60px;
}

.welcome__slider-dots {
  margin: -12px 60px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome__slider-arrows {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome__slider-item {
  cursor: pointer;
  position: relative;
}

.shadow {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.welcome__slider-pagination .slick-arrow {
  width: 30px;
  height: 8px;
  font-size: 0;
  cursor: pointer;
  transition: filter .3s ease;
}

.welcome__slider-pagination .slick-arrow:hover {
  filter: invert(55%) sepia(47%) saturate(270%) hue-rotate(356deg) brightness(100%) contrast(82%);
}

.welcome__slider-pagination .slick-prev {
  background: url("../svg/left-arrow.svg") 0 0 / 100% no-repeat;
  margin: 0 20px 0 0;
}

.welcome__slider-pagination .slick-next {
  background: url("../svg/right-arrow.svg") 0 0 / 100% no-repeat;
}

.welcome__slider-pagination .slick-dots {
  max-width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome__slider-pagination .slick-dots button {
  font-size: 0;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  cursor: pointer;
  margin: 0 12px;
  transition: background-color .3s ease;
}

.welcome__slider-pagination .slick-dots .slick-active button {
  background-color: $dots-color;
}

.welcome__slider-pagination .slick-dots button:hover {
  background-color: $font-gold;
}

.welcome__slider-counter {
  margin: 0 50px 0 0;
  justify-self: flex-start;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

// Visiting section

.visiting__title {
  position: relative;
}

.underline__title::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: $dark-red;
}

.cards {
  margin: 100px 0 0 0;
  max-width: 1440px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 80px 60px;
}

.card {
  display: block;

  transition: color .5s ease;
}

.card__img {
  width: 440px;
  height: 285px;
}

.card__title {
  margin: 25px 0 0 0;
  position: relative;
  font-family: "Forum", cursive;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;

  transition: color .5s ease;
}

.card__title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 68%;
  height: 2px;
  background-color: $dark-red;

  transition: width .7s linear;
}

.card__text {
  margin: 20px 0 0 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;

  transition: color .5s ease;
}

.card__text span {
  margin: 0 0 15px 0;
  display: block;
  font-size: 22px;
}

.card:hover .card__title::after {
  width: 100%;
}

// Explore section

.explore-section {
  padding: 90px 0 75px 0;
}

.explore-container {
  display: flex;
  justify-content: space-between;
}

.explore__content {
  max-width: 660px;
  margin: -15px 60px 0 0;
  display: flex;
  flex-direction: column;
}

.explore__title {
  margin: 0 0 70px 0;
  position: relative;
  color: #ffffff;
}

.explore__text {
  margin: 30px 0 0 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}

.text-gold {
  color: #caaa7d;
}

.explore__slider {
  position: relative;
  overflow: hidden;
  width: 720px;
  height: 700px;
}

.explore__slider-img {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.explore__slider-img.before {
  width: calc(58% + 20px);
  background: url("../img/explore-slider/before.jpg") no-repeat top left;
}

.explore__slider-img.after {
  background: url("../img/explore-slider/after.jpg") no-repeat;
}

.compare {
  margin: 0 20px 0 0;
  width: 40px;
  height: 100%;
  position: absolute;
  left: 58%;
  z-index: 10;
  cursor: grabbing;
}

// Video section

.video-section {
  padding: 75px 0 75px 0;
}

.video__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.player {
  margin: 0 0 40px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 735px;
  overflow-y: hidden;
}

.video {
  width: 100%;
}

.video-btn {
  display: block;
  padding: 0;
  cursor: pointer;
  background: transparent;

  &.video-play {
    position: absolute;
    top: calc((100% - 85px) / 2);
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.player__controls {
  max-height: 85px;
  width: 100%;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-dark;
  position: absolute;
  bottom: 0;
}

.progress-input,
.volume-input {
  -webkit-appearance: none;
  height: 8px;
  outline: none;
}

.progress-input::-webkit-slider-thumb,
.volume-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.progress-input {
  width: 930px;
  background: #ffffff;
}

.volume-input {
  width: 155px;
  background: -webkit-linear-gradient(left, #710707 0%, #710707 50%, #ffffff 50%, #ffffff 100%);
}

.video__content {
  margin: 0 0 75px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video__title {
  display: inline-block;
  margin: 0 115px 0 0;
}

.video__text {
  max-width: 710px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}

.video__slider-wrapper {
  max-width: 100%;
}

.video__slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.video__slider-item {
  margin: 0 41px 0 0;
  display: block;
  width: 452px;
  height: 254px;
  cursor: pointer;
}

.video__slider-item iframe {
  border: 0;
}

.video__slider-pagination {
  margin: 35px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video__slider-arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  max-width: 200px;
}

.video__slider-pagination .slick-arrow {
  width: 10px;
  height: 12px;
  font-size: 0;
  cursor: pointer;
  transition: filter .3s ease;
}

.video__slider-pagination .slick-arrow:hover {
  filter: invert(8%) sepia(49%) saturate(5700%) hue-rotate(353deg) brightness(50%) contrast(100%);
}

.video__slider-pagination .slick-prev {
  background: url("../svg/vs-left.svg") no-repeat;
}

.video__slider-pagination .slick-next {
  background: url("../svg/vs-right.svg") no-repeat;
}

.video__slider-pagination .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__slider-pagination .slick-dots li {
  display: flex;
  align-content: center;
  justify-content: center;
}

.video__slider-pagination .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #999999;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color .3s ease;
}

.video__slider-pagination .slick-dots .slick-active button {
  background-color: $bg-dark;
}

.video__slider-pagination .slick-dots button:hover {
  background-color: $dark-red;
}

.video__slider .slick-active {
  width: 493px !important;
}

// Gallery section

.gallery-section {
  padding-bottom: 0;
}

.gallery__title {
  margin: 0 0 75px;
  color: #ffffff;
}

.picture-container {
  max-height: 1960px;
  overflow-y: hidden;
  position: relative;
}

.gallery__shadow {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

.picture-inner-container {
  max-height: 2950px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 35px;
  column-width: 456px;
  column-count: 3;
}

.gallery__picture {
  width: 456px;
  opacity: 0;
  transform: translate(0%, 50%);
  transition: all 1s ease;
}

.gallery__picture-active {
  opacity: 1;
  transform: translate(0%, 0%);
}

.padd {
  margin: 50px 0 0;
}